/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import "bootstrap";

body {
  //background-color: #280556;
  background: linear-gradient(to left, #280556, #6F006A);
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  color: white;
}

.col{
    width: 400px;
}
.card {
  margin: 0 auto;
  padding: 20px;
  background-color: RGB(255,255,255,0.4);
  border-radius: 20px;
  box-shadow: 10px 0px 20px black;
  font-weight: bold;
}

.card:hover{
  margin: 0 auto;
  padding: 20px;
  background-color: RGB(255,255,255,0.4);
  border-radius: 20px;
  box-shadow: 10px 0px 20px black;
  font-weight: bold;
  transform: scale(1.05);
}

.btn{
  background-color: #370971;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  border: 1px solid black;
}

.btn:hover{
  background-color: #370971;
  margin-top: 15px;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  transform: scale(1.05);
}

nav{
  background-color: #7448AC;
}

.navbar-brand, .nav-link{
  color: white;
}

.dashboard{
  height: 100vh;
}
.content-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.image-container {
  margin-bottom: 20px;
  margin-top: 50px;
}

.centered-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-container {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
}

footer{
  text-align: center;
  color: white;
}

footer p{
  margin-bottom: 20px;
}

.content-section .card{
  text-align: left;
}

.list-group{
  max-width: 300px;
}

.form-check{
  text-align: left;
}
